body {
  background-color: #6a62d2;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 60px auto;
}

.container h1 {
  text-align: center;
  color: white;
}

form {
  background-color: white;
  padding: 30px;
}

form .input-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
}

.submit-btn {
  width: 100%;
  border: none;
  background: #746bde;
  font-size: 18px;
  color: white;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.submit-btn:hover {
  cursor: pointer;
  background: #6a62d2;
}

.submit-btn:focus {
  border: 2px solid #746bde;
}